{:schema-version 1, :name "qingnianduzhe-20260829T153244Z", :repo "logseq_db_qingnianduzhe", :source :electron-auto, :created-at-ms 1788017564427, :db-path "C:\\Users\\lituo\\logseq\\graphs\\qingnianduzhe\\backup\\qingnianduzhe-20260829T153244Z\\db.sqlite"}