{:schema-version 1, :name "pages-20260830T000931Z", :repo "logseq_db_pages", :source :electron-auto, :created-at-ms 1788048571538, :db-path "C:\\Users\\lituo\\logseq\\graphs\\pages\\backup\\pages-20260830T000931Z\\db.sqlite"}