{:schema-version 1, :name "Demo-20260829T142609Z", :repo "logseq_db_Demo", :source :electron-auto, :created-at-ms 1788013569751, :db-path "C:\\Users\\lituo\\logseq\\graphs\\Demo\\backup\\Demo-20260829T142609Z\\db.sqlite"}